# Dependencies
node_modules/

# Build
dist/
dist-ssr/
*.local

# Tauri
src-tauri/target/
src-tauri/WixTools/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
